################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BLL-Lib/bin/Debug/net6.0
/BLL-Lib/obj
/Generator/bin/Debug/net6.0
/Generator/obj
